<nav class="learn-nav glass-card" style="position: sticky; top: 90px;">
    <h5 class="font-accent text-accent mb-3">DaisiBot Mastery</h5>

    <details open>
        <summary>Get Started</summary>
        <ul class="nav flex-column ms-2">
            <li class="nav-item">
                <NavLink class="nav-link" href="learn" Match="NavLinkMatch.All">Course Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/architecture">1 &middot; Architecture</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/installation">2 &middot; Installation</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/configuration">3 &middot; Configuration</NavLink>
            </li>
        </ul>
    </details>

    <details open>
        <summary>Using DaisiBot</summary>
        <ul class="nav flex-column ms-2">
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/conversations">4 &middot; Conversations</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/skills">5 &middot; Skills</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/bots">6 &middot; Bots</NavLink>
            </li>
        </ul>
    </details>

    <details open>
        <summary>Advanced</summary>
        <ul class="nav flex-column ms-2">
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/security">7 &middot; Security</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="learn/next-steps">8 &middot; Next Steps</NavLink>
            </li>
        </ul>
    </details>
</nav>
