@inherits LayoutComponentBase
@layout DaisiBot.Web.Components.Layout.WebLayout

<section class="learn-section py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <LearnNav />
            </div>
            <main class="col-lg-9">
                <article class="learn-content">
                    @Body
                </article>
            </main>
        </div>
    </div>
</section>
