.streaming-content {
    display: inline;
}

.streaming-cursor {
    display: inline-block;
    width: 2px;
    height: 1.1em;
    background-color: currentColor;
    margin-left: 1px;
    vertical-align: text-bottom;
    animation: blink 0.7s step-end infinite;
}

@@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
