<span class="thinking-indicator ml-2">
    <MudProgressCircular Size="Size.Small" Indeterminate="true" Color="Color.Info" />
    <MudText Typo="Typo.caption" Class="ml-1" Style="opacity: 0.7;">Thinking...</MudText>
</span>
